# COMPILED FILES
*.com
*.class
*.dll
*.exe
*.o
*.so

# TEMPORARY FILES
*.swp
*.swo
*~

# COMPRESSED FILES
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# LOGS
*.log
log/
logs/

# ENVIRONMENT
.env
env/
ENV/
env.bak/

# VS CODE
.vscode
*.code-workspacea
.history/

# VIM
*~
*.swp

# NODE JS
node_modules/

# PYTHON
__pycache__/
.venv/
venv/
.venv
venv
db.sqlite3
