# COMPILED FILES
*.com
*.class
*.dll
*.exe
*.o
*.so

# TEMPORARY FILES
*.swp
*.swo
*~

# COMPRESSED FILES
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# LOGS
*.log
log/
logs/

# VS CODE
.vscode

# VIM
*~
*.swp
